<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="ApplicationConfigSection" type="WsOwinDemo.Configuration.ApplicationConfigSection, ws-owin-demo" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <ApplicationConfigSection BaseAddress="http://localhost:9002/" LogFilePath="log.txt">
      <WebServices>
        <WebService address="https://google.com" interval="120" />
        <WebService address="https://Microsoft.com" interval="25" />
        <WebService address="https://apple.com" interval="300" />
      </WebServices>
    </ApplicationConfigSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>